body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 70%;
  text-align: center;
}
